@tailwind base;
@tailwind components;
@tailwind utilities;

/* Graphik Bold */
@font-face {
    font-family: 'GraphikBold';
    src: url('./fonts/GraphikBold.otf') format('opentype');
    /* Add more font formats (e.g., woff, woff2, ttf) if needed */
  }
  
  /* Graphik Extralight */
  @font-face {
    font-family: 'GraphikExtralight';
    src: url('./fonts/GraphikExtralight.otf') format('opentype');
    /* Add more font formats (e.g., woff, woff2, ttf) if needed */
  }
  
  /* Graphik Light */
  @font-face {
    font-family: 'GraphikLight';
    src: url('./fonts/GraphikLight.otf') format('opentype');
    /* Add more font formats (e.g., woff, woff2, ttf) if needed */
  }
  
  /* Graphik Medium */
  @font-face {
    font-family: 'GraphikMedium';
    src: url('./fonts/GraphikMedium.otf') format('opentype');
    /* Add more font formats (e.g., woff, woff2, ttf) if needed */
  }
  
  /* Graphik Regular */
  @font-face {
    font-family: 'GraphikRegular';
    src: url('./fonts/GraphikRegular.otf') format('opentype');
    /* Add more font formats (e.g., woff, woff2, ttf) if needed */
  }
  
  /* Graphik Thin */
  @font-face {
    font-family: 'GraphikThin';
    src: url('./fonts/GraphikThin.otf') format('opentype');
    /* Add more font formats (e.g., woff, woff2, ttf) if needed */
  }
  